/* Ensure the navbar sticks to the top of the screen */
.navBar {
    position: fixed;
    /* Fixed position to always stay in place */
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Ensures it stays above other content */
    
}

/* Background image positioned absolutely */
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: #e3e0d5;

    /* Light grey background */
}
