.container {
    margin-left : -1%;
    margin-top : -1%;
    background-color: #f5f5e1;
    width: 101%;
    height: 101vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.groupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.GroupInfo,
.GroupMembers {
    
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e6e6c9;
    margin-bottom: 20px;
}
.GroupInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.GroupInfo button {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.GroupInfo button:hover {
    background-color: #45a049;
    transform: scale(.95);
}

.GroupInfo button:active {
    background-color: #397d3d;
    transform: scale(0.94);
}

.GroupMembers ul {
    list-style: none;
    padding: 0;
}

.GroupMembers ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.GroupMembers ul li:last-child {
    border-bottom: none;
}

.listMembers {
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.listMembers li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}