/* Global Styles */
body.disable-scroll {
    overflow: hidden;
}

.Menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expDisplay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.floatingButton {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 50; /* Ensure it appears on top of other elements */
    transition: transform 0.3s ease;
}

.floatingButton:hover{
    transform: scale(1.05);
}

.floatingButton img {
    width: 125%; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.floatingButton img:hover {
    transform: scale(1.1); /* Enlarge button slightly on hover */
}

.boardButton {
    position: fixed;
    top: 40%;
    left: 36%;
    display: flex;
    padding: 10px;
    z-index: 100; /* Ensure it appears on top of other elements */
    transition: transform 0.3s ease;
}
.boardButton:hover{
    transform: scale(1.05);
}

.boardButton img {
    width: 125%; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.boardButton img:hover {
    transform: scale(1.1); /* Enlarge button slightly on hover */
}



.clockButton {
    position: fixed;
    top: 300px;
    left: 350px; /* girl i have no idea, i know this is gonna look weird on other monitors SOS 😭 */
    display: flex;
    padding: 10px;
    z-index: 50; /* Ensure it appears on top of other elements */
    transition: transform 0.3s ease;
}
.clockButton:hover{
    transform: scale(1.05);
}

.clockButton img {
    width: 125%; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.clockButton img:hover {
    transform: scale(1.1); /* Enlarge button slightly on hover */
}