/* Global Styles */
body.disable-scroll {
    overflow: hidden;
}

.Menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.Menu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expDisplay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.floatingButton {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 50; 
    transition: transform 0.3s ease;
    width: 10%;
}

.floatingButton:hover{
    transform: scale(1.05);
}

.floatingButton img {
    width: 125%; /* Adjust size as needed */
    height: 10%;
    transition: transform 0.3s ease;
}

.floatingButton img:hover {
    transform: scale(1.1); /* Enlarge button slightly on hover */
}

.boardButton {
    margin-top: 42vh;
    margin-left: 36%;
    display: flex;
    padding: 10px;
    z-index: 100; /* Ensure it appears on top of other elements */
    transition: transform 0.3s ease;
    width: 25vw;
    height: 35vh;
}

.boardButton img {
    width: 100%;
    height: 100%;
    /* Ensure image fills the button */
    transition: transform 0.3s ease;
}

.boardButton:hover{
    transform: scale(1.05);
}


.clockButton {
    display: flex;
    top: 0;
    margin-top: -26vh;
    margin-left: 25vw; 
    z-index: 50; 
    transition: transform 0.3s ease;
    width: 7%;
    height: 25vh;
}
.clockButton img {
    width: 100%;
    height: 100%;
    /* Ensure image fills the button */
    transition: transform 0.3s ease;
}

.clockButton:hover{
    transform: scale(1.05);
}
