.toggleSetting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.toggleSetting p {
    margin: 10px 10px 10px 10px;
    font-size: 1rem;
    flex-grow: 1;
}

.in[type="checkbox"] {
    margin: 0;
    flex-shrink: 0;
}

@media (min-width: 1550px) {
    .toggleSetting p {
        font-size: 1.25rem;
    }
    .in{
        transform: scale(1.25);
    }
}

/* 1550 = 1, 1850 = 2, 2150 = 3  */

@media (min-width: 1850px) {
    .toggleSetting p {
        font-size: 1.5rem;
    }
    .in {
        transform: scale(1.5);
    }

    
}

@media (min-width: 2150px) {
    .toggleSetting p {
        font-size: 1.75rem;
    }
    .in {
        transform: scale(1.75);
    }
}